body {
  padding: 0;
  margin: 0;
}

#kodex-main {
  #kodex-codesec {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    background-color: rgb(14, 14, 14);
    padding: 10px;
    // height: 50vh;
    .editor-container {
      margin: 10px 10px;
      height: 100%;
      .editor-title {
        display: flex;
        justify-content: space-between;
        align-items: center;
        background-color: #fff;
        border-top-left-radius: 5px;
        border-top-right-radius: 5px;
        padding: 10px 15px;
        p {
          margin: 0px;
        }
      }
      .code-mirror-wrapper {
        .CodeMirror {
          border-bottom-left-radius: 5px;
          border-bottom-right-radius: 5px;
        }
      }
    }
  }
  #kodex-codeout {
    height: 50vh;
    background-color: #ddd;
  }
}
